bspwm
Code
composer
dconf
enchant
eog
evolution
gedit
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-4.0
ibus
libreoffice
menus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
Postman
pulse
qterminal.org
sxhkd
Thunar
tilda
update-notifier
user-dirs.dirs
user-dirs.locale
xfce4
.gsd-keyboard.settings-ported
